* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body header {
  box-sizing: border-box;
  background: linear-gradient(#3633cd, black);
  min-height: 8vh;
  height: auto;
  width: 100vw;
  display: flex;
  align-items: center;
  position: fixed;
}
body header a {
  height: 4rem;
  display: flex;
  align-items: center;
  text-decoration: none;
}
body header a img {
  height: 100%;
}
body header a h1 {
  display: inline;
  font-size: 0.8rem;
  color: beige;
}
body header nav {
  display: flex;
  margin-right: 2.5vw;
  margin-left: auto;
}
body header nav a {
  height: min-content;
  font-size: 0.7rem;
  margin: 0 0.3vw;
  padding: 5px;
  color: beige;
  text-decoration: none;
  border-radius: 15px;
  box-shadow: 0px 6px 0px 2px rgba(0, 0, 0, 0.3);
}
body header nav a:hover {
  box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.3);
  font-size: 1.5vh;
}
body header nav a:active {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
}
body header button {
  display: none;
}
@media (max-width: 768px) {
  body header a h1 {
    display: none;
  }
  body header nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 1rem;
    top: 4.5rem;
    background: linear-gradient(#3633cd, black);
    border-radius: 0.5rem;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: all 0.4s ease-in-out;
    pointer-events: none;
  }
  body header nav a {
    margin: 0.5rem;
  }
  body header nav a:last-child {
    margin-bottom: 0.8rem;
  }
  body header nav.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
  }
  body header button {
    display: block;
    margin-right: 1rem;
    margin-left: auto;
    background-image: radial-gradient(100% 100% at 100% 0, black, #3633cd 100%);
    border: 0;
    border-radius: 0.7rem;
    color: beige;
    padding: 0.7rem;
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
  }
  body header button img {
    height: 1.2rem;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  body header button #icon-close {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  body header button.active #icon-open {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(90deg);
  }
  body header button.active #icon-close {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  body header button:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(-2px);
  }
}
body main {
  padding: 24vh 15vh 33vh 15vh;
  text-align: center;
  font-size: 2rem;
  background-image: url(/assets/foto_ext_ictefBaq.jpg);
  background-size: cover;
  background-attachment: fixed;
}
body main p {
  background-color: rgba(54, 51, 205, 0.431372549);
  border-radius: 15px;
  padding: 5%;
  box-shadow: 0px 0px 35px 55px rgba(4, 51, 205, 0.3);
  color: beige;
}
@media (max-width: 768px) {
  body main {
    padding: 9vh 1vw 33vh 1vw;
    font-size: 1.8rem;
  }
}
body #part2 {
  background: linear-gradient(black, #3633cd, black);
  color: beige;
  display: flex;
}
body #part2 section {
  width: 45vw;
  justify-content: center;
}
body #part2 section article {
  padding-top: 9vh;
  width: 85%;
  margin-inline: auto;
  text-align: justify;
}
body #part2 section h3 {
  font-size: 2rem;
}
body #part2 section {
  font-size: 1.5rem;
}
body #part2 aside {
  width: 55vw;
  padding-top: 4vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body #part2 aside img {
  border-radius: 1rem;
  width: 23rem;
  margin: 0.7vw;
  object-fit: contain;
  height: min-content;
}
body #part2 aside img:last-child {
  width: 35rem;
  max-width: 48vw;
}
@media (max-width: 768px) {
  body #part2 {
    display: block;
  }
  body #part2 section {
    width: 100%;
  }
  body #part2 aside {
    width: 100%;
  }
  body #part2 aside img {
    width: 35rem;
    max-width: 95vw;
  }
  body #part2 aside img:nth-child(2) {
    display: none;
  }
  body #part2 aside img:last-child {
    max-width: 95vw;
  }
}
body #part3 {
  background: linear-gradient(black, #3633cd, black);
  padding: 5rem;
}
body #part3 form {
  padding: 1rem;
  box-shadow: 0px 0px 35px 55px rgba(4, 51, 205, 0.3);
  border-radius: 2rem;
  padding-top: 9vh;
}
body #part3 form legend {
  text-align: center;
  margin-bottom: 0.7rem;
  font-size: 1.9rem;
  color: beige;
}
body #part3 form label {
  display: block;
  font-size: 1.2rem;
  color: beige;
}
body #part3 form label::after {
  content: "*";
  color: red;
}
body #part3 form input {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 2rem;
  border-radius: 0.7rem;
  font-size: 1rem;
}
body #part3 form textarea {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 10rem;
  border-radius: 0.7rem;
  padding: 0.2rem 0.4rem;
  font-size: 1rem;
}
body #part3 form button {
  display: block;
  margin-right: 1rem;
  margin-left: auto;
  background-image: radial-gradient(100% 100% at 100% 0, black, #3633cd 100%);
  border: 0;
  border-radius: 0.7rem;
  color: beige;
  padding: 0.7rem;
  font-size: 1.2rem;
}
body #part3 form span {
  display: block;
  text-align: right;
  margin-right: 1.4vw;
  color: beige;
}
body #part3 form span span {
  display: inline;
  color: red;
  margin: 0;
}
@media (max-width: 768px) {
  body #part3 {
    padding: 1rem;
  }
}
body footer {
  background-color: black;
  color: beige;
  height: 5rem;
  display: flex;
}
body footer img {
  height: 100%;
}
body footer section:first-child {
  display: flex;
  width: 50vw;
  align-items: center;
}
body footer section:first-child p {
  height: min-content;
}
body footer section:last-child {
  display: flex;
  width: 50vw;
  justify-content: flex-end;
  align-items: center;
}
body footer section:last-child a {
  text-decoration: none;
  color: beige;
  margin: 0 1vw;
  height: min-content;
}
body footer section:last-child a:last-child {
  margin-right: 3vw;
}
body footer section:last-child img {
  height: 1.7rem;
  width: auto;
}
@media (max-width: 768px) {
  body footer {
    font-size: 0.5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
